p {
    color: #114d4d;
}

.minha-classe {
    color: blue;
    font-size: 20px;
}

.outra-classe {
    background-color: yellow;
}

p {
    color: #680000;
    background-color: #1b1b3b;
}

.a {
    background: linear-gradient(#b31212, #ffff00);
    padding: 32px;
}

div {
    padding: 32px;
    background-color: 255, 0, 0, 0.5;
}

span {
    opacity: 0.5;
}
